<section class="gallery">
  <div class="container-gallery">
    <h2 class="gallery-titel">Breathe in the Space</h2>
    <p class="gallery-description">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/1-gallery.webp    1x,
              /img/webp/gallery-img/1-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/1-gallery-t.webp    1x,
              /img/webp/gallery-img/1-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/1-gallery-m.webp    1x,
              /img/webp/gallery-img/1-gallery-m@2x.webp 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/webp/gallery-img/1-gallery-m.webp"
            alt="Group yoga class in a yoga studio"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/2-gallery.webp    1x,
              /img/webp/gallery-img/2-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/2-gallery-t.webp    1x,
              /img/webp/gallery-img/2-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/2-gallery-m.webp    1x,
              /img/webp/gallery-img/2-gallery-m@2x.webp 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/webp/gallery-img/2-gallery-m.webp"
            alt="Group yoga class in a yoga studio"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/3-gallery.webp    1x,
              /img/webp/gallery-img/3-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/3-gallery-t.webp    1x,
              /img/webp/gallery-img/3-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/3-gallery-m.webp    1x,
              /img/webp/gallery-img/3-gallery-m@2x.webp 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/webp/gallery-img/3-gallery-m.webp"
            alt="Yoga studio with mats and blocks prepared for class"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/4-gallery.webp    1x,
              /img/webp/gallery-img/4-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/4-gallery-t.webp    1x,
              /img/webp/gallery-img/4-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/4-gallery-m.webp    1x,
              /img/webp/gallery-img/4-gallery-m@2x.webp 2x
            "
          />
          <img
            class="gallery-img"
            src="/img/webp/gallery-img/4-gallery-m.webp"
            alt="Sunlit yoga studio with mats and blocks"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/5-gallery.webp    1x,
              /img/webp/gallery-img/5-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/5-gallery-t.webp    1x,
              /img/webp/gallery-img/5-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/5-gallery-m.webp    1x,
              /img/webp/gallery-img/5-gallery-m@2x.webp 2x
            "
          />
          <img
            src="/img/webp/gallery-img/5-gallery-m.webp"
            alt="People meditating during a yoga class"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-pict">
          <source
            media="(min-width: 1366px)"
            srcset="
              /img/webp/gallery-img/6-gallery.webp    1x,
              /img/webp/gallery-img/6-gallery@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/gallery-img/6-gallery-t.webp    1x,
              /img/webp/gallery-img/6-gallery-t@2x.webp 2x
            "
          />
          <source
            srcset="
              /img/webp/gallery-img/6-gallery-m.webp    1x,
              /img/webp/gallery-img/6-gallery-m@2x.webp 2x
            "
          />
          <img
            src="/img/webp/gallery-img/6-gallery-m.webp"
            alt="Woman leading a group meditation session in a studio"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
