<header class="main-header">
    <div class="container-header">
        <button
          type="button"
          class="burger-menu"
          data-menu-open
          aria-label="Open menu"
        >
          <svg class="burger-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>

        <nav class="header-nav">
  <ul class="header-list">
    <li><a class="header-link" href="#">Yoga Classes</a></li>
    <li><a class="header-link" href="#">Team</a></li>
    <li><a class="header-link" href="#">Testimonials</a></li>
    <li><a class="header-link" href="#">Pricing</a></li>
    <li><a class="header-link" href="#">Contacts</a></li>
  </ul>
</nav>
         <a class="yb-brand" href="/">
          <svg class="yb-brand-logo" width="84" height="36">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>

    </a>
  
    <a class="yb-join" href="#join">Join now</a>
</header>
