<!-- #region pricing -->
<section class="price-section" id="pricing">
  <div class="container">
    <div class="price-title-box">
      <p class="price-title-up">Affordable</p>
      <div class="price-title-inner-box">
        <h2 class="price-title-main">Pricing Plans</h2>
        <p class="price-title-down">
          Choose the perfect plan for your yoga journey.
        </p>
      </div>
    </div>
    <ul class="price-list">
      <li class="price-item">
        <div class="price-item-title">
          <p class="price-session">One Session</p>
          <p class="price-money">$10</p>
        </div>
        <ul class="price-detal-list">
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">1 group session</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">10% discount for next 2 Sessions</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">Community support group</p>
          </li>
        </ul>
        <button class="price-btn" type="button" data-modal-low-open>
          Join
        </button>
      </li>
      <li class="price-item">
        <div class="price-item-title">
          <p class="price-session">8 Sessions Package</p>
          <p class="price-money">$65</p>
        </div>
        <ul class="price-detal-list">
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">6 Group Sessions</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">2 Individual Sessions</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">Priority customer support</p>
          </li>
        </ul>
        <button class="price-btn" type="button" data-modal-middle-open>
          Join
        </button>
      </li>
      <li class="price-item">
        <div class="price-item-title">
          <p class="price-session">12 Sessions Package</p>
          <p class="price-money">$80</p>
        </div>
        <ul class="price-detal-list">
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">8 Group Sessions</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">4 Individual Sessions</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">Monthly yoga challenges</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">Exclusive member discounts</p>
          </li>
          <li class="price-detal-item">
            <svg class="price-check-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-check"></use>
            </svg>
            <p class="price-detal-text">Community support group</p>
          </li>
        </ul>
        <button class="price-btn" type="button" data-modal-top-open>
          Join
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion pricing -->
