/* region about_us Mobile  */
.about-us {
    background: #dfebeb;
}

.about-us-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 20px;
}

.text-title-about-us {
    font-weight: 400;
    font-size: 15.5px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
}

p.text-title-about-us {
    margin-bottom: 48px;
}

.about-us-title-list {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.about-us-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
}

p.about-us-text-list {
    margin-bottom: 48px;
}

.about-us-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
}

.about-us-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.button-link-about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    width: 110px;
    height: 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #c2d9fc;
    transition: color 250ms easy-in-out,
        background-color 250ms easy-in-out,
        opacity 250ms easy-in-out;
}

.button-about-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link-about-us:hover,
.button-link-about-us:focus {
    color: #0d0b0a;
    background-color: #c2d9fc;
    opacity: 0.5;
}

/* endregion about_us Mobile  */

/* region about_us Tablet  */
@media screen and (min-width: 768px) {
    .about-us {
        background: none;
        padding: 40px 32px;
    }

    .text-title-about-us {
        font-size: 18px;
    }

    p.text-title-about-us {
        margin-bottom: 0;
    }

    .about-us-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 46.5px;
        column-gap: 24px;
    }

    .about-us-item {
        width: calc((100% - 24px) / 2);
    }

    .about-us-list .about-us-item {
        padding: 0;
    }

    .sectiot-title-about-us {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }

    .about-us-title {
        margin-bottom: 0;
    }
}
/* endregion about_us Tablet  */

/* region about_us Desktop  */
@media screen and (min-width: 1336px) {
    .about-us {
        padding: 112px 64px;
    }

    .about-us-title {
        font-size: 52px;
    }

    .about-us-title-list {
        font-size: 28px;
    }

    .about-us-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .about-us-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .about-us-item:not(:last-child) {
        padding: 0 24px 0 0;
    }
}
/* endregion about_us Desktop  */
