/* region gallery Mobile  */
.container-gallery {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.gallery-titel {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-top: 64px;
  margin-bottom: 20px;
}

.gallery-description {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  max-width: 100%;
  margin-bottom: 48px;
  
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 64px;
}

.gallery-item {
  flex-basis: calc((100% - 24px) / 2);
}

@media screen and (min-width: 375px) {
    .container-gallery {
    max-width: 375px;
    }
}

/* endregion gallery Mobile  */

/* region gallery Tablet  */
@media screen and (min-width: 768px) {
  .container-gallery {
    max-width: 768px;
    padding: 0 32px;
  }

  .gallery-titel {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .gallery-description {
    margin-bottom: 80px;
  }

  .gallery-list {
    margin-bottom: 40px;
  }
}
/* endregion gallery Tablet  */

/* region gallery Desktop  */
@media screen and (min-width: 1366px) {
  .container-gallery {
    max-width: 1336px;
    padding: 0 64px;
  }

  .gallery-titel {
    margin-top: 112px;
    font-size: 52px;
  }

  .gallery-description {
    font-weight: 500;
  }

  .gallery-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .gallery-list {
    margin-bottom: 112px;
  }
}

/* endregion gallery Desktop  */
